@model string

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
<hgroup>
    <h1 class="text-danger">Error.</h1>
    <h2>An error occurred while processing your request.Plase contact IT Department</h2>
    <h5>Refer to the following error: @Model</h5>
    @Html.ActionLink("Return Back","Index","Payout")
</hgroup>
</body>
</html>


